name: Test PRs

on:
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-15

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 19
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          cache: 'maven'
          java-version: '19'

      - name: build
        run: mvn -T 10 -f build-on-pr-pom.xml clean install
