name: Build specified Pod and deploys to Sonatype release stage

on:
  workflow_dispatch:
    inputs:
      tagName:
        required: true
        description: 'TAG name for release'
      targetBranch:
        description: 'Branch to build'
        required: true
      dirName:
        required: true
        description: 'Directory of Pod to build'
      releaseMessage:
        required: true
        description: 'Release message'

jobs:
  build:
    runs-on: macos-26
    defaults:
      run:
        working-directory: "${{ github.event.inputs.dirName}}"
    env:
      MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
      MAVEN_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
      GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}

    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.inputs.targetBranch }}
      - name: Set up JDK 19
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          cache: 'maven'
          java-version: '19'
          server-id: sonatype-nexus-snapshots
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
          gpg-passphrase: GPG_PASSPHRASE
      - name: Maven clean, install
        run: mvn -T 10 clean install
      - name: Maven deploy using `central-publishing-maven-plugin`
        run: mvn -Possrh-release deploy
      - name: Create a draft release 
        uses: ncipollo/release-action@v1
        with:
          name: "${{ github.event.inputs.tagName }}"
          body: "${{ github.event.inputs.releaseMessage }}"
          tag: "${{ github.event.inputs.tagName }}"
          draft: true
          token: ${{ secrets.GITHUB_TOKEN }}