name: Build specified Pod and deploys snapshot

on:
  workflow_dispatch:
    inputs:
      dirName:
        required: true
        description: 'Directory of Pod to build'
      targetBranch:
        description: 'Branch to build'
        required: true

jobs:
  build:
    runs-on: macos-latest

    env:
      MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
      MAVEN_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}

    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.inputs.targetBranch }}
      - name: Set up JDK 19
        uses: actions/setup-java@v1
        with:
          distribution: temurin
          java-version: '19'
          server-id: sonatype-nexus-snapshots
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
      - name: change directory 
        run: cd "${{ github.event.inputs.dirName}}"
      - name: Maven clean, install
        run: mvn -T 10 clean install
      - name: Maven deploy
        run: mvn -T 10 deploy
